/* 
    * -------------- Header --------------
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    /* margin: 3rem; */
    padding: 3.5vh 10vw;
    z-index: 1000;
}

.header_menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.header_menu a:hover {
    border-bottom: 1px solid aliceblue;
}


/* 
    * -------------- MAIN --------------
*/

.main {
    height: 100vh;
    color: aliceblue;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.main section {
    scroll-snap-align: start;
}


/* 
    ? -------------- SECTIONS --------------
*/

.home {
    min-height: 100vh;
    background: linear-gradient(107.56deg, #2F3F80 0%, #000001 100%);
}

.about {
    min-height: 100vh;
    background: linear-gradient(107.56deg, #165069 0%, #000000 100%);
}

.skills {
    min-height: 100vh;
    background: linear-gradient(107.56deg, #505488 0%, #000000 100%);
}

.projects {
    min-height: 100vh;
    background: linear-gradient(136.72deg, #572A5A 0%, #000000 100%);
}

.home,
.about {
    padding: 10vh 10vw;
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));

}

/* 
    * -------------- Home--------------
*/
.home_info {
    display: grid;
    margin: auto;
    gap: 10rem;
    padding: 5rem 0;
    /* align-items: stretch; */
    /* border: 1px solid red; */
}

.home_info_titulo {
    font-size: 64px;
}

.home_info_subtitulo {
    font-size: 32px;
}

.home_info_descarga {
    cursor: pointer;
    border: 1px solid aliceblue;
    border-radius: 8px;
    margin: auto;
    padding: 1rem 2rem;
    transition: all .4s;
}

.home_info_descarga:hover {
    transform: scale(1.2);
    border-color: tomato;
    color: rgb(255, 154, 136);
}


.home_carrucel_main {
    display: grid;
    row-gap: 1rem;
    margin: auto;
    /* border: 1px solid red; */
}

.scroll_selection {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.scroll_selection a {
    width: 20px;
    height: 20px;
    /* border: 1px solid gray; */
    background-color: gray;
    border-radius: 50%;
}

.scroll_selection a:hover {
    background-color: tomato;
}

.home_carrucel_contain {
    width: 480px;
    margin: auto;
    background-color: rgba(255, 255, 255, .16);
    border: 1px solid rgba(255, 255, 255, .75);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: scroll; */
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}


.home_carrucel {
    /* border: 1px solid red; */
    scroll-snap-align: center;
    width: 450px;
    padding: 2rem, 5rem;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: 50% 50%;
    margin-right: 100px;

}

.home_carrucel_info {
    padding: 4rem 4rem;
    /* margin: auto; */
    display: grid;
    row-gap: 1rem;

    /* border: 1px solid red; */
}

.home_carrucel_img {
    margin: auto;
}

.home_carrucel_button {
    width: 120px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background-color: #000000;
    border-radius: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* 
    * -------------- About --------------
*/
.about_info {
    display: inline;
    margin: auto;
}

.about_info h1 {
    font-size: 64px;
    margin: 2.5rem 0;
}

.about_info p {
    font-size: 24px;
    margin: 2rem 0;
}


.about_img {
    margin: auto;
    background-color: rgba(0, 0, 0, .36);
    border: 1px solid rgba(255, 255, 255, .35);
    border-radius: 16px;
}

.about_img img {
    margin: 2rem;
    border-radius: 50%;
}

/* 
    * -------------- Skills --------------
*/
.skills {
    padding: 10rem 10%;
}

.skills h1 {
    font-size: 48px;
    padding: 2rem 0;
}

.skills h2 {
    padding-bottom: 2rem;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

.skills p {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}

.skills section {
    min-height: 100vh;
    padding: 10rem 0;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
}

/* .skills div{
} */
.skills_info {
    display: inline;
    row-gap: 1rem;
    margin: auto;
}

.skills_img {
    margin: auto;
}

/* * --------- Skill --------- */
.skills_contain {
    display: grid;
    gap: 3rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    margin: 2rem 0;
    /* border: 1px solid red; */
}

.skill {
    width: 90px;
    /* border: 1px solid red; */
    display: grid;
    row-gap: 1rem;
    text-align: center;
    justify-content: center;
}

.skill p {
    font-size: 16px;
    text-align: center;
}

.skill img {
    margin: auto;
}

/* 
    * -------------- Proyectos --------------
*/
.projects {
    padding: 6rem 10%;
}

.projects h1 {
    font-size: 48px;
}

.project_contain {
    /* min-height: 85vh; */
    padding: 5% 0 0 0;
    margin: auto;
    display: grid;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.project {
    /* margin: auto; */
    /* border: 1px solid aqua;    */
    display: grid;
    row-gap: 1rem;
    position: relative;
}

.project_img {
    margin: auto;
    transition: all .5s;
    /* border: 1px solid aliceblue; */
}
.project_img img{
    border-radius: 16px;
    
}

.project_info {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px;
    /* text-align: center; */
    opacity: 0;
    transition: opacity 0.3s;
    transition: all .5s;
    border-radius: 8px;
}
.project_info h2{
    font-size: 24px;
    margin: 1rem 0;
}
.project_info_enlace{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
}
.project_info_enlace img{
    filter: invert(1);
    margin: .5rem;
}

.project:hover .project_info {
    opacity: 1;
}
.project:hover .project_img{
    opacity: .5;
}

.project_info:hover{
    border: 1px solid rgb(165, 165, 165);
}
/* ------------------- */
.allproyects {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: auto;
    transition: all .5s;
    /* border: 1px solid red;     */
}

.allproyects a {
    /* border: 1px solid aqua;     */
    /* width: 250px; */
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}
.allproyects p{
    font-style: italic;
    border-bottom: 1px solid aliceblue;
}
.allproyects img{
    margin: 1rem;
    filter: invert(1);
}
.allproyects a:hover{
    color: aqua;
}
/* 
    ! -------------- Responsive --------------
*/


@media only screen and (max-width: 1025px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
        background-color: rgba(0, 0, 0, .75);
    }

    .header_menu {
        display: none;
    }

    .main section {
        scroll-snap-align: none;
    }


}

@media only screen and (max-width: 770px) {
    .main h1 {
        text-align: center;
        font-size: 3rem;
    }

    .main h2 {
        text-align: center;
        font-size: 2rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home_carrucel {
        /* display: none; */
        width: 100%;
        /* display: none; */
        /* grid-template-columns: 1fr; */
    }

    .home_carrucel_img {
        margin: auto;
        padding: auto;
    }
}

@media only screen and (max-width: 450px) {
    /*  */
    .header{
        padding: 1rem .5rem;
    }
    /* .main section {
        scroll-snap-align: center;
    } */
    /*  */
    
    .home {
        padding: auto;
    }
    .main h1{
        font-size: 32px;
    }
    .main h2{
        font-size: 24px;
    }
    .main p{
        font-size: 16px;
    }
    .home_carrucel_main {
        display: none ;
    }
    /*  */
    .about, .skills section{
        grid-template-columns: 1fr;
        border-bottom: 1px solid rgb(165, 165, 165);
    }
    .about_img img ,.skills_img img{
        width: 180px;
        height: 180px;
    }
    .skills_img{
        display: none;
    }
    .skills {
        min-height: 50%;
        padding: 2rem 0;
    }
    .skills section{
        min-height: 30vh;
        padding: 2rem ;
        /* margin: 2rem 0 */
    }

    .project_contain{
        grid-template-columns: 1fr;
        /* border: 1px solid red;        */
    }
    .project{
        padding: 0;
        margin: 1rem 0;             
    }
    .project img{
        width: 100%;
        padding: 0;
        margin: 0;     
        width: 280px;
        width: 100%;
        height: 180px;
    }
    .project_info p{
        display: none;
    }
    .project_info img{
        width: 20px;
        height: 20px;
    }

    

}